<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pierwszy lista</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/assets_bid/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/assets_bid/css/Highlight-Clean.css">
    <link rel="stylesheet" href="assets/assets_bid/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/assets_bid/css/styles.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color:rgb(31,106,221);">
            <div class="container"><a class="navbar-brand" href="#" style="background-color:rgba(255,255,255,0);color:rgba(255,255,255,0.9);">Top Lance</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="color:rgb(255,255,255);">Lista ogłoszeń</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#"  [routerLink]="['/profile']" style="color:rgb(215,215,215);">Twój profil</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#"  [routerLink]="['/messages']" style="color:rgb(215,215,215);">Wiadomości</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#"  [routerLink]="['/login']" style="color:rgb(215,215,215);">Wyloguj się</a></li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <div class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Lista ogłoszeń</h2>
                <p class="text-center">Znajdziesz tutaj wszystkie obecnie dostępne ogłoszenia.</p>
            </div>
        </div>
    </div>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="#">Sortuj według:</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Wybierz</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <ul class="list-group" *ngIf="czyAsk">
            <li class="list-group-item" *ngFor="let ask of asks.asks; let i=index" (click)="openDialog(ask.title, ask)">
                <div class="row">
                    <div class="col"><span style="font-size:19px;color:rgb(30,106,221);">{{ask.title}}</span><span class="float-right" style="font-size:12px;color:rgb(120,120,120);">{{ask.salary}}zł/h</span><span class="float-right" style="font-size:12px;color:rgb(120,120,120);">&nbsp;/&nbsp;</span>
                        <span
                            class="float-right" style="font-size:12px;color:rgb(120,120,120);">{{ask.work_time}} godzin</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><span style="font-size:14px;">{{ask.description}}</span><span class="float-right" style="font-size:12px;color:rgb(162,162,162);">{{ ask.create_date | date }}</span></div>
                </div>
            </li>

        </ul>
    </div>
    <div class="footer-basic">
        <footer>
            <p class="copyright">Top Lance © 2018</p>
        </footer>
    </div>
</body>

</html>
