<div>
  <h2 mat-dialog-title>{{data.title}}</h2>
  <hr>
  <mat-dialog-content>
    
    <div>Kategorie: <span *ngFor="let cat of data.content.categories"> {{cat.name}} </span></div>
    <div>Języki: <span *ngFor="let lang of data.content.languages"> {{lang.name}} </span></div>
    <div>Oprogramowanie: <span *ngFor="let soft of data.content.software"> {{soft.name}} </span></div>
    <div>Specjalizacje: <span *ngFor="let spec of data.content.specs"> {{spec.name}} </span></div>
    <div>Certyfikaty: <span *ngFor="let cert of data.content.certifications"> {{cert.name}} </span></div>

    <br>
    <br>
    <strong></strong>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onCloseConfirm()">Dodaj</button>&nbsp;
    <button mat-raised-button (click)="onCloseCancel()">Anuluj</button>
  </mat-dialog-actions>
</div>