<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pierwszy register</title>
    <link rel="stylesheet" href="assets/assets_register2/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/assets_register2/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/assets_register2/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/assets_register2/css/styles.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="#">Top Lance</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    data-aos="fade-left" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Strona główna</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Jak to działa?</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Freelancer</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Zleceniodawca</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder" style="background-image:url(&quot;assets/assets_register2/img/3.jpg&quot;);background-size:cover;background-position:center;"></div>
            <form method="post" (ngSubmit)="sendToF()" >
                <h2 class="text-center"><strong>Krok drugi</strong></h2>
                <div class="form-group"><input class="form-control" type="text" name="first_name" placeholder="Imię" autofocus="" [(ngModel)]="first_name" ></div>
                <div class="form-group"><input class="form-control" type="text" name="last_name" placeholder="Nazwisko" [(ngModel)]="last_name" ></div>
                <div class="form-group"><input class="form-control" type="text" name="phone" placeholder="Numer telefonu" [(ngModel)]="phone" ></div>
                <div class="form-group"><input class="form-control" type="text" name="city" placeholder="Lokalizacja" [(ngModel)]="city" ></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color:rgb(31,106,221);">Stwórz konto</button></div></form>
        </div>
    </div>
</body>

</html>
