input[type=text], input[type=password], input[type=email], input[type=submit] {
  outline: none;
  border: none;
  background: none;
  color: black;
  border-bottom: 1px solid black;
  padding: 10px;
}

input[type=submit]:hover {
  background-color: black;
  maring-top:10px;
  color:white;
  transition-duration: 0.5s;
  cursor: pointer;
}
.container-flex {
}

.cont {
  height: 100vh;
  width: 100vw;
}
