<div class="container-fluid x">
    <div class="container-fluid">
      <div class="row d-flex justify-content-end">
        <p class="m-2"><a [routerLink]="['/home']">home</a></p>
        <p class="m-2"><a [routerLink]="['/profile']">Profil</a></p>
        <p class="m-2"><a [routerLink]="['/home']">wiadomości</a></p>
        <p class="m-2"><a [routerLink]="['/home']">ustawienia</a></p>
        <p class="m-2"><a [routerLink]="" (click)="logout()"> wyloguj </a></p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row d-flex align-items-center justify-content-center flex-column">
        <div class="mb-5">
        
          <input type="text" [(ngModel)]="description" name="description" placeholder="opis"/> <br>
          <input type="text" [(ngModel)]="salary" name="salary" placeholder="wynagrodzenie"/> <br>
          <input type="text" [(ngModel)]="work_time" name="work_time" placeholder="czas pracy"/> <br>

          <div *ngFor="let userCategory of categories"> 
            <input type="text" [(ngModel)]="userCategory.name" disabled/>
            <button (click)="deleteCategories(userCategory.name)">-</button>
          </div>
          <input type="text" [(ngModel)]="categoriesFilter" placeholder="kategoria" /> <br>
          <button *ngFor="let cat of filteredCategories" (click)="addCategories(cat.name)">{{cat.name}}</button>

          <div *ngFor="let userLanguages of languages"> 
            <input type="text" [(ngModel)]="userLanguages.name" disabled/>
            <button (click)="deleteLanguages(userLanguages.name)">-</button>
          </div>
          <input type="text" [(ngModel)]="languagesFilter" placeholder="język" /> <br>
          <button *ngFor="let lang of filteredLanguages" (click)="addLanguages(lang.name)">{{lang.name}}</button>

          <div *ngFor="let userSoftware of software"> 
            <input type="text" [(ngModel)]="userSoftware.name" disabled/>
          <button (click)="deleteSoftware(userSoftware.name)">-</button>
          </div>
          <input type="text" [(ngModel)]="softwareFilter" placeholder="oprogramowanie" /> <br>
          <button *ngFor="let soft of filteredSoftware" (click)="addSoftware(soft.name)">{{soft.name}}</button>

          <div *ngFor="let userSpecializations of specializations"> 
            <input type="text" [(ngModel)]="userSpecializations.name" disabled/>
            <button (click)="deleteSpecializations(userSpecializations.name)">-</button>
          </div>
          <input type="text" [(ngModel)]="specializationsFilter" placeholder="specjalizacje" /> <br>
          <button *ngFor="let specs of filteredSpecializations" (click)="addSpecializations(specs.name)">{{specs.name}}</button>

          <div *ngFor="let userCertifications of certifications"> 
            <input type="text" [(ngModel)]="userCertifications.name" disabled/>
            <button (click)="deleteCertifications(userCertifications.name)">-</button>
          </div>
        <input type="text" [(ngModel)]="certificationsFilter" placeholder="certyfikaty" /> <br>
        <button *ngFor="let cert of filteredCertifications" (click)="addCertifications(cert.name)">{{cert.name}}</button>
        
        <button (click)="createAsk()">Dodaj</button>
                    
        </div>
      </div>
    </div>
    <div class="container-fluid" style="width: 100vw;" *ngIf="!id">
     
    </div>
   
  </div>
