<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/assets_all/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/assets_all//css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/assets_all//css/styles.css">
    <style>
      ul:hover {cursor:pointer}
      .unread{font-weight:bold;}
    </style>
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="#">Toplance</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/profile']">Twój profil</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/login']" (click)="logout()">Wyloguj się</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row no-gutters justify-content-center">
        <div class="col offset-0 col-lg-6">
            <ul class="list-group" *ngFor="let msg of messages">
                <li class="list-group-item" [routerLink]="['/message', msg._id]">
                    <div class="d-flex justify-content-between"><img class="rounded-circle" src="{{msg.image}}" src-fallback="{{defaultImg}}" width="60px" height="60px">
                      <div class="d-flex flex-column align-items-end"><span class="float-right" style="font-size:24px;">{{msg.first_name}} {{msg.last_name}}</span><span class="float-right" style="color:rgb(167,167,167);">{{msg.is_send ? 'Ja' : msg.username}}: <span [class.unread]="!msg.is_read && !msg.is_send" [innerHTML]="msg.content"></span></span></div>
                    </div>
                </li>
            </ul>
            <!--ul class="list-group">
                <li class="list-group-item">
                    <div class="d-flex justify-content-between"><img class="rounded-circle" src="assets/assets_all//img/5288961-profile-pics.png" width="60px" height="60px">
                        <div class="d-flex flex-column align-items-end"><span class="float-right" style="font-size:24px;">Imię nazwisko</span><span class="float-right" style="color:rgb(167,167,167);">Typ: Przeczytana</span></div>
                    </div>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="d-flex justify-content-between"><img class="rounded-circle" src="assets/assets_all//img/5288961-profile-pics.png" width="60px" height="60px">
                        <div class="d-flex flex-column align-items-end"><span class="float-right" style="font-size:24px;">Imię nazwisko</span><span class="float-right" style="color:rgb(167,167,167);">Ja: Przeczytana</span></div>
                    </div>
                </li>
            </ul-->
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
