<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/assets_profile/css/Features-Clean.css">
    <link rel="stylesheet" href="assets/assets_profile/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/assets_profile/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="assets/assets_profile/css/styles.css">
</head>

<body>
    <ngx-loading [show]="loading"></ngx-loading>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="#">Top Lance</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/profile']">Profil</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/bid']" *ngIf="!loading && user.user.status==0">Szukaj ogłoszeń</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/ask']" *ngIf="!loading && user.user.status==1">Dodaj ogłoszenie</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/myAsks']" *ngIf="!loading && user.user.status==1">Moje ogłoszenia</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/messages']"><i class="fa" [class.fa-envelope-o]="!hasNewMessages" [class.fa-envelope]="hasNewMessages" style="margin:0px 5px 0px 0px;"></i>Wiadomości</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/login']" (click)="logout()">Wyloguj się</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- Pracownik -->

    <div class="features-clean" *ngIf="!loading && user.user.status==0">
        <div class="container" *ngIf="!loading">
            <div class="container mt-4"  *ngIf="!loading">
                    <div class="row">
                        <div class="col-md-4 align-self-center">
                            <h5 class="text-center">Ocena</h5>
                            <p class="text-center" [title]="user.rate">
                                    <i [ngClass]="{'fa': true, 'fa-star': user.rate>=1, 'fa-star-o': user.rate<1}" style="color:rgb(0,0,0);" ></i>
                                    <i [ngClass]="{'fa': true, 'fa-star': user.rate>=2, 'fa-star-o': user.rate<2, 'fa-star-half-o': user.rate==1.5}" style="color:rgb(0,0,0);"></i>
                                    <i [ngClass]="{'fa': true, 'fa-star': user.rate>=3, 'fa-star-o': user.rate<3, 'fa-star-half-o': user.rate==2.5}" style="color:rgb(0,0,0);"></i>
                                    <i [ngClass]="{'fa': true, 'fa-star': user.rate>=4, 'fa-star-o': user.rate<4, 'fa-star-half-o': user.rate==3.5}" style="color:rgb(0,0,0);"></i>
                                    <i [ngClass]="{'fa': true, 'fa-star': user.rate>=5, 'fa-star-o': user.rate<5, 'fa-star-half-o': user.rate==4.5}" style="color:rgb(0,0,0);"></i>
                            </p>
                            <p [routerLink]="['/rate','me']" style="cursor: pointer"
                                class="text-center">Pokaż oceny</p>
                        </div>
                        <div class="col-md-4 align-self-center">
                            <h2 class="text-center">{{user.user.first_name +" "+ user.user.last_name}}</h2>
                            <p class="text-center"> {{user.employee.description}} <span *ngIf="!user.employee.description">Opis</span> </p>
                            <p class="text-center">Edytuj opis<i class="fa fa-edit" style="margin:0px 0px 0px 15px;" (click)="openProfileDescriptionDialog()"></i></p>
                        </div>
                      <div class="col-md-4 d-flex justify-content-center align-self-center">
                        <div style="width:150px;height:150px; cursor: pointer" (click)="openProfileImageDialog()" class="img-container">
                          <img class="rounded-circle img-fluid-right img-profile" bind-src="url" style="width:150px; height: 150px;" *ngIf="user.user.image">
                          <img class="rounded-circle img-fluid-right img-profile" src="assets/assets_all/img/5288961-profile-pics.png" style="height: auto; width: auto; max-width: 100%;" *ngIf="!user.user.image">
                          <div class="img-hover">
                            <div style="color: -moz-dialogtext; font-weight: bolder;">Edytuj</div>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
            <div class="row features">
                <div class="col-12" style="margin:0px;">
                    <h1 class="text-center" style="font-size:30px;margin:11px;">Dane osobowe</h1>
                    <hr style="margin:40px;">
                </div>
                <div class="col-sm-6 col-lg-6 item"><i class="fa fa-user icon"></i>
                    <h3 class="name">Typ konta</h3>
                    <p class="description">{{person}}</p>
                </div>
                <div class="col-sm-6 col-lg-6 item"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Lokalizacja<i class="fa fa-edit float-right" (click)="openProfileCityDialog()" ></i></h3>
                    <p class="description">{{user.user.city}}</p>
                </div>
                <div class="col-12">
                    <h1 class="text-center" style="font-size:30px;margin:10px;">Moje konta</h1>
                    <hr style="margin:40px;">
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-external-link icon"></i>
                    <h3 class="name">Porfolio<i class="fa fa-edit float-right" (click)="openProfileLinkDialog(user.employee.portfolio_link, 'Portfolio', 'portfolio_link')"></i></h3>
                    <p class="description"> <a [href]="user.employee.portfolio_link" target="blank">{{user.employee.portfolio_link}}</a> </p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-github icon"></i>
                    <h3 class="name">Github<i class="fa fa-edit float-right" (click)="openProfileLinkDialog(user.employee.git_link, 'Github', 'git_link')"></i></h3>
                    <p class="description"><a [href]="user.employee.git_link" target="blank">{{user.employee.git_link}}</a></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-linkedin icon"></i>
                    <h3 class="name">LinkedIn<i class="fa fa-edit float-right" (click)="openProfileLinkDialog(user.employee.linked_in_link, 'LinkedIn', 'linked_in_link')"></i></h3>
                    <p class="description"><a [href]="user.employee.linked_in_link" target="blank">{{user.employee.linked_in_link}}</a></p>
                </div>
                <div class="col-12">
                    <h1 class="text-center" style="font-size:30px;margin:10px;">Zlecenia</h1>
                    <hr style="margin:40px;">
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-th icon"></i>
                    <h3 class="name">Oczekujące</h3>
                    <p class="description">{{user.employee.waiting_asks}}</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-check icon"></i>
                    <h3 class="name">Zrealizowanych</h3>
                    <p class="description">{{user.employee.finished_asks}}</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-plane icon"></i>
                    <h3 class="name">W trakcie</h3>
                    <p class="description">{{user.employee.in_progress_asks}}</p>
                </div>
                <div class="col-12">
                    <h1 class="text-center" style="font-size:30px;margin:9px;">Umiejętności</h1>
                    <hr style="margin:40px;">
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-tasks icon"></i>
                    <h3 class="name">Edukacja<i class="fa fa-edit float-right" (click)="openProfileEducationDialog()"></i></h3>
                    <p class="description">{{user.employee.education}}</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-tags icon"></i>
                    <h3 class="name">Kategoria<i class="fa fa-edit float-right" (click)="openDialog('Kategoria',userCategories,'categories', categories)"></i></h3>
                    <p class="description" *ngFor="let userCategory of userCategories">{{userCategory.name}}</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-language icon"></i>
                    <h3 class="name">Języki<i class="fa fa-edit float-right" (click)="openDialog('Języki',userLanguages,'languages', languages)"></i></h3>
                    <p class="description" *ngFor="let userLanguage of userLanguages"> {{userLanguage.name}} </p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-desktop icon"></i>
                    <h3 class="name">Oprogramowanie<i class="fa fa-edit float-right" (click)="openDialog('Oprogramowanie',userSoftware,'software', software)"></i></h3>
                    <p class="description" *ngFor="let userSoft of userSoftware"> {{userSoft.name}} </p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-archive icon"></i>
                    <h3 class="name">Specjalizacja<i class="fa fa-edit float-right" (click)="openDialog('Specjalizacja',userSpec,'specs', specializations)"></i></h3>
                    <p class="description" *ngFor="let userSp of userSpec"> {{userSp.name}} </p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-certificate icon"></i>
                    <h3 class="name">Certyfikaty<i class="fa fa-edit float-right" (click)="openDialog('Certyfikaty',userCertifications,'certifications', certifications)"></i></h3>
                    <p class="description" *ngFor="let userCert of userCertifications"> {{userCert.name}} </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Pracodawca -->
    <div class="features-clean" *ngIf="!loading && user.user.status==1">
        <div class="container" *ngIf="!loading">
            <div class="intro" style="width:690px;">
                <h2 class="text-center"> {{user.user.first_name +" "+ user.user.last_name}} </h2>
                <div class="col-md d-flex justify-content-center align-self-center">
                        <div class="col-md-4 align-self-center">
                                <h5 class="text-center">Ocena</h5>
                                <p class="text-center" [title]="user.rate">
                                        <i [ngClass]="{'fa': true, 'fa-star': user.rate>=1, 'fa-star-o': user.rate<1}" style="color:rgb(0,0,0);" ></i>
                                        <i [ngClass]="{'fa': true, 'fa-star': user.rate>=2, 'fa-star-o': user.rate<2, 'fa-star-half-o': user.rate==1.5}" style="color:rgb(0,0,0);"></i>
                                        <i [ngClass]="{'fa': true, 'fa-star': user.rate>=3, 'fa-star-o': user.rate<3, 'fa-star-half-o': user.rate==2.5}" style="color:rgb(0,0,0);"></i>
                                        <i [ngClass]="{'fa': true, 'fa-star': user.rate>=4, 'fa-star-o': user.rate<4, 'fa-star-half-o': user.rate==3.5}" style="color:rgb(0,0,0);"></i>
                                        <i [ngClass]="{'fa': true, 'fa-star': user.rate>=5, 'fa-star-o': user.rate<5, 'fa-star-half-o': user.rate==4.5}" style="color:rgb(0,0,0);"></i>
                                </p>
                                <p [routerLink]="['/rate','me']" style="cursor: pointer"
                                    class="text-center">Pokaż oceny</p>
                            </div>
                    <div style="width:150px;height:150px; cursor: pointer" (click)="openProfileImageDialog()" class="img-container">
                        <img class="rounded-circle img-fluid-right img-profile" bind-src="url" style="width:150px; height: 150px;" *ngIf="user.user.image">
                        <img class="rounded-circle img-fluid-right img-profile" src="assets/assets_all/img/5288961-profile-pics.png" style="height: auto; width: auto; max-width: 100%;" *ngIf="!user.user.image">
                        <div class="img-hover">
                            <div style="color: -moz-dialogtext; font-weight: bolder;">Edytuj</div>
                        </div>
                    </div>
                </div>
                
            </div>
                <div class="row features">
                    
                    <div class="col-12" style="margin:0px;">
                        <h1 class="text-center" style="font-size:30px;margin:11px;">Dane osobowe</h1>
                        <hr style="margin:40px;">
                    </div>
                    <div class="col-sm-6 col-lg-6 item"><i class="fa fa-user icon"></i>
                        <h3 class="name">Typ konta</h3>
                        <p class="description">{{person}}</p>
                    </div>
                    <div class="col-sm-6 col-lg-6 item"><i class="fa fa-map-marker icon"></i>
                        <h3 class="name">Lokalizacja<i class="fa fa-edit float-right" (click)="openProfileCityDialog()" ></i></h3>
                        <p class="description">{{user.user.city}}</p>
                    </div>
                    <div class="col-12">
                        <h1 class="text-center" style="font-size:30px;margin:10px;">Moje konta</h1>
                        <hr style="margin:40px;">
                    </div>
                    <div class="col-sm-6 col-lg-6 item"><i class="fa fa-github icon"></i>
                        <h3 class="name">Github<i class="fa fa-edit float-right" (click)="openProfileLinkDialog(user.employer.git_link, 'Github', 'git_link')"></i></h3>
                        <p class="description"><a [href]="user.employer.git_link" target="blank">{{user.employer.git_link}}</a></p>
                    </div>
                    <div class="col-sm-6 col-lg-6 item"><i class="fa fa-linkedin icon"></i>
                        <h3 class="name">LinkedIn<i class="fa fa-edit float-right" (click)="openProfileLinkDialog(user.employer.linked_in_link, 'LinkedIn', 'linked_in_link')"></i></h3>
                        <p class="description"><a [href]="user.employer.linked_in_link" target="blank">{{user.employer.linked_in_link}}</a></p>
                    </div>
                </div>
                <div class="row features">
                    <div class="col-12">
                        <h1 class="text-center" style="font-size:30px;margin:10px;">Ogłoszenia</h1>
                        <hr style="margin:40px;">
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-th icon"></i>
                        <h3 class="name">Aktywne</h3>
                        <p class="description">{{user.employer.active_asks}}</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-check icon"></i>
                        <h3 class="name">Zrealizowanych</h3>
                        <p class="description">{{user.employer.finished_asks}}</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-plane icon"></i>
                        <h3 class="name">W trakcie</h3>
                        <p class="description">{{user.employer.in_progress_asks}}</p>
                    </div>
                    <div class="col-12">
                        <h1 class="text-center" style="font-size:30px;margin:10px;">Firmy<i class="fa fa-edit float-right" (click)="openProfileCreateCompanyDialog()"></i></h1>
                        <hr style="margin:40px;">
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-th icon"></i>
                        <h3 class="name">Firmy</h3>
                        <span *ngFor="let comp of user.employer.company">
                            <h4 class="name">{{comp.name}}<i class="fa fa-edit float-right" (click)="openProfileEditCompanyDialog(comp._id, comp)"></i></h4>
                            <p class="description">{{comp.NIP}}</p>
                            <p class="description">{{comp.city}}</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    <!-- <div class="projects-horizontal" *ngIf="!loading">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Ostatnie zrealizowane zlecenia</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="assets/assets_profile/img/desk.jpg"></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="assets/assets_profile/img/building.jpg"></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="assets/assets_profile/img/loft.jpg"></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="assets/assets_profile/img/minibus.jpeg"></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
