<div class="container-fluid x">
  <div class="container-fluid">
    <div class="row d-flex justify-content-end">
      <p class="m-2"><a [routerLink]="['/home']">home</a></p>
      <p class="m-2"><a [routerLink]="['/home']">szukaj zleceń</a></p>
      <p class="m-2"><a [routerLink]="['/home']">wiadomości</a></p>
      <p class="m-2"><a [routerLink]="['/home']">ustawienia</a></p>
      <p class="m-2"><a [routerLink]="" (click)="logout()"> wyloguj </a></p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center flex-column">
      <div class="m-5 d-flex align-items-center justify-content-center">
        <div class="mr-5 d-flex justify-content-center flex-column" style="width: 250px;">
          <div class="d-flex justify-content-between"><p>Imie:</p> <p>{{imie}}</p></div>
          <div class="d-flex justify-content-between"><p>Nazwisko:</p> <p>{{nazwisko}}</p></div>
          <div class="d-flex justify-content-between"><p>Ocena:</p> <p>{{ocena}}/5</p></div>
        </div>
        <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" style="width: 150px; height:150px;">
        <div class="ml-5 d-flex justify-content-center flex-column" style="width: 250px;">
          <div class="d-flex justify-content-between"><p>Przyjętych zleceń:</p> <p>61</p></div>
          <div class="d-flex justify-content-between"><p>W trakcie realizacji:</p> <p>4</p></div>
          <div class="d-flex justify-content-between"><p>Ukończone:</p> <p>57</p></div>
        </div>
      </div>
      <div class="mb-5">FREELANCER</div>
    </div>
  </div>
  <div class="container-fluid" style="width: 100vw;">
    <div class="row no-gutters d-flex align-items-end justify-content-around">
      <div class="col-2 text-center">
        <h6>JĘZYKI OBCE</h6>
          <div *ngFor="let userLanguage of userLanguages"> 
            <input type="text" [(ngModel)]="userLanguage.name" disabled/>
            <button (click)="deleteLang(userLanguage.name)">-</button>
          </div>
          <input type="text" [(ngModel)]="langFilter" />
          <button *ngFor="let language of filteredLanguages" (click)="addLang(language.name)">{{language.name}}</button>
        <p></p>
      </div>
      <div class="col-2 text-center">
        <h6>SPECJALIZACJA</h6>
        <div *ngFor="let userSp of userSpec"> 
            <input type="text" [(ngModel)]="userSp.name" disabled/>
            <button (click)="deleteSpec(userSp.name)">-</button>
          </div>
        <input type="text" [(ngModel)]="specFilter" />
        <button *ngFor="let specialization of filteredSpecializations" (click)="addSpec(specialization.name)">{{specialization.name}}</button>
      </div>
      <div class="col-2 text-center">
        <h6>OPROGRAMOWANIE</h6>
        <div *ngFor="let userSoft of userSoftware"> 
            <input type="text" [(ngModel)]="userSoft.name" disabled/>
            <button (click)="deleteSoftware(userSoft.name)">-</button>
          </div>
          <input type="text" [(ngModel)]="softwareFilter" />
          
          <button *ngFor="let software of filteredSoftware" (click)="addSoftware(software.name)">{{software.name}}</button>
        <p></p>
      </div>
      <div class="col-2 text-center">
        <h6>CERTYFIKATY I KURSY</h6>
        <div *ngFor="let userCert of userCertifications"> 
            <input type="text" [(ngModel)]="userCert.name" disabled/>
            <button (click)="deleteCertifications(userCert.name)">-</button>
          </div>
          <input type="text" [(ngModel)]="certificationsFilter" />
          
          <button *ngFor="let certificate of filteredCertifications" (click)="addCertifications(certificate.name)">{{certificate.name}}</button>
        <p></p>
      </div>
    </div>
  </div>
</div>
