<div class="container-fluid">
  <div class="d-flex align-items-center justify-content-center flex-column">
    dupa
  </div>
</div>
<div class="container fluid" style="width: 100vw;">
  <div class="row no-gutters d-flex justify-content-around">
    <div class="col-3" style="border: 1px solid black;">
      asd
    </div>
    <div class="col-3" style="border: 1px solid black;">
      asd
    </div>
    <div class="col-3" style="border: 1px solid black;">
      asd
    </div>
    <div class="col-3" style="border: 1px solid black;">
      asd
    </div>
  </div>
</div>
