<div class="container-flex">
    <div class="row no-gutters">
        <div class="col-6 left d-flex align-items-center">
          <a href="/register">
            <div class="areyou ml-4">
            <h2 style="font-size:32px;">jesteś freelancerem?</h2>
            <p style=" margin-top:-8px; font-size:12px;">klinkij tutaj i zacznij przyjmować zlecenia!</p>
            </div>
          </a>
          <div class="position-absolute mr-4" style="top:96%; left:2%;"><a>facebook</a></div>
        </div>
        <div class="col-6 right d-flex align-items-center justify-content-end">
          <a href="/register">
            <div class="areyou d-flex align-items-end flex-column mr-4">
              <h2 style="font-size:32px;">chcesz zlecić pracę?</h2>
              <p style="margin-top: -8px; font-size:12px;">kliknij tutaj i zleć pracę już teraz!</p>
            </div>
          </a>
          <div class="position-absolute ml-4" style="top:96%; right:2%;"><a>kontakt</a></div>
        </div>
    </div>
    <div class="position-absolute" style="color: white; top:96%; left:46.5%; font-size: 12px;">tff 2018 all rights reserved</div>
    <div class="position-absolute" style="color: white; top:45%; left:36%;"><p style="font-size:64px; margin:0;">tinder for freelancers</p>
    <p style="font-size: 14px; margin-top:-15px; text-align:center;">created by freelancers for freelancers</p></div>
    <a href="/login"><div class="position-absolute" style="padding: 6px; width: 100px; text-align:center; color: white; border:1px solid white; border-radius:10px; top:60%; cursor:pointer; left: 47.5%;">zaloguj</div></a>
</div>
