.left {
  cursor: pointer;
  height: 100vh;
  color:white;
}

.right {
  cursor: pointer;
  height: 100vh;
  color:white;
}
.container-flex {
  background-image: url('./img/bg.png');
  background-size: auto;
  background-position: center;
}
a {
  text-decoration: none;
  color: white;
}
